In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# Cargar los archivos 
hoja_no1 = pd.read_excel("calendardim.xlsx", sheet_name=None)
df_hoja_no2 = pd.read_csv("categorydim.csv")
hoja_no3= pd.read_excel("DIM_PRODUCT (1).xlsx", sheet_name=None)
hoja_no4 = pd.read_excel("DIM_SEGMENT (1).xlsx", sheet_name=None)
df_hoja_no5 = pd.read_csv("FACT_SALES (1).csv")
#Inspeccionar los archivos que son un diccionario
df_hoja_no1 = hoja_no1["Sheet1"]
df_hoja_no3=  hoja_no3["Sheet1"]
df_hoja_no4=  hoja_no4["SEGMENT"]
##Tomar información de cada uno 
df_hoja_no1.info()
df_hoja_no2.info()
df_hoja_no3.info()
df_hoja_no4.info()
df_hoja_no5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   WEEK         156 non-null    object
 1   YEAR         156 non-null    int64
 2   MONTH        156 non-null    int64
 3   WEEK_NUMBER  156 non-null    int64
 4   DATE         156 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 6.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID_CATEGORY  5 non-null      int64
 1   CATEGORY     5 non-null      object
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   MANUFACTURER      505 non-null    object
 1   BRAND             505 non-null    object
 2   ITEM              503 non-null    object
 3   ITEM_DESCRIPTION  505 non-null    object
 4   CATEGORY          505 non-null    int64
 5   FORMAT            505 non-null    object
 6   ATTR1             499 non-null    object
 7   ATTR2             505 non-null    object
 8   ATTR3             499 non-null    object
dtypes: int64(1), object(8)
memory usage: 35.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CATEGORY  53 non-null     int64
 1   ATTR1     53 non-null     object
 2   ATTR2     53 non-null     object
 3   ATTR3     52 non-null     object
 4   FORMAT    53 non-null     object
 5   SEGMENT   53 non-null     object
dtypes: int64(1), object(5)
memory usage: 2.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122002 entries, 0 to 122001
Data columns (total 6 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   WEEK                         122002 non-null  object
 1   ITEM_CODE                    122002 non-null  object
 2   TOTAL_UNIT_SALES             122002 non-null  float64
 3   TOTAL_VALUE_SALES            122002 non-null  float64
 4   TOTAL_UNIT_AVG_WEEKLY_SALES  122002 non-null  float64
 5   REGION                       122002 non-null  object
dtypes: float64(3), object(3)
memory usage: 5.6+ MB

# Borrar los duplicados

In [13]:
df_calendar = df_hoja_no1.drop_duplicates(keep=False) 
df_category = df_hoja_no2.drop_duplicates(keep=False) 
df_product = df_hoja_no3.drop_duplicates(keep=False) 
df_segment= df_hoja_no4.drop_duplicates(keep=False) 
df_sales = df_hoja_no5.drop_duplicates(keep=False)

# Limpiar los datas frames

In [16]:
df_calendar.columns=df_calendar.columns.str.strip().str.upper()
df_calendar['DATE'] = pd.to_datetime(df_calendar['DATE'], dayfirst=True, errors='coerce')
df_calendar.columns = df_calendar.columns.str.strip().str.upper()
df_sales

,WEEK,ITEM_CODE,TOTAL_UNIT_SALES,TOTAL_VALUE_SALES,TOTAL_UNIT_AVG_WEEKLY_SALES,REGION
0,34-22,7501058792808BP2,0.006,0.139,1.000,TOTAL AUTOS AREA 5
1,34-22,7501058715883,0.487,116.519,2.916,TOTAL AUTOS AREA 5
2,34-22,7702626213774,1.391,68.453,5.171,TOTAL AUTOS AREA 5
3,34-22,7501058716422,0.022,1.481,1.833,TOTAL AUTOS AREA 5
4,34-22,7501058784353,2.037,182.839,5.375,TOTAL AUTOS AREA 5
...,...,...,...,...,...,...
121997,26-23,7501058792778BP1,1.192,150.829,4.000,TOTAL AUTOS SCANNING MEXICO
121998,26-23,7501058757630,1.947,235.416,2.797,TOTAL AUTOS SCANNING MEXICO
121999,26-23,7501058753441,18.013,429.289,9.102,TOTAL AUTOS SCANNING MEXICO
122000,26-23,7702626204208BP1,21.152,210.276,22.172,TOTAL AUTOS SCANNING MEXICO
122001,26-23,7501058784346,1.468,301.973,2.068,TOTAL AUTOS SCANNING MEXICO

In [18]:
# Normalizar nombres de columnas
df_category.columns = df_category.columns.str.strip().str.upper()
df_category["CATEGORY"] = df_category["CATEGORY"].astype(str).str.strip().str.upper()

df_category.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID_CATEGORY  5 non-null      int64
 1   CATEGORY     5 non-null      object
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes

In [20]:
df_segment.columns = df_segment.columns.str.strip().str.upper()
#Probar limpiar con un bucle 
# Para todas las columnas de interés, se limpia el texto
for col in ["SEGMENT", "CATEGORY", "ATTR1", "ATTR2", "ATTR3", "FORMAT"]:
    if col in df_segment.columns:
        df_segment[col] = df_segment[col].astype(str).str.strip().str.upper()

df_segment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CATEGORY  53 non-null     object
 1   ATTR1     53 non-null     object
 2   ATTR2     53 non-null     object
 3   ATTR3     53 non-null     object
 4   FORMAT    53 non-null     object
 5   SEGMENT   53 non-null     object
dtypes: object(6)
memory usage: 2.6+ KB

In [22]:
for col in ["PRODUCT_ID", "CATEGORY", "SEGMENT"]:
    if col in df_sales.columns and df_sales[col].dtype == object:
        df_sales[col] = df_sales[col].str.strip().str.upper()
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122002 entries, 0 to 122001
Data columns (total 6 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   WEEK                         122002 non-null  object
 1   ITEM_CODE                    122002 non-null  object
 2   TOTAL_UNIT_SALES             122002 non-null  float64
 3   TOTAL_VALUE_SALES            122002 non-null  float64
 4   TOTAL_UNIT_AVG_WEEKLY_SALES  122002 non-null  float64
 5   REGION                       122002 non-null  object
dtypes: float64(3), object(3)
memory usage: 5.6+ MB

# Empezar a unir los data flrames

In [38]:
 # Crear una columna compuesta en cada DataFrame
df_calendar['YEAR_WEEK'] = df_calendar['WEEK'].astype(str) + '-' + df_calendar['WEEK_NUMBER'].astype(str)
df_sales['YEAR_WEEK'] = df_sales['WEEK'].astype(str)
# Realizar la unión basada en la clave compuesta
df_sales_calendar = pd.merge(df_sales, df_calendar, on='YEAR_WEEK', how='left')
df_product

,MANUFACTURER,BRAND,ITEM,ITEM_DESCRIPTION,CATEGORY,FORMAT,ATTR1,ATTR2,ATTR3
0,INDS. ALEN,CLORALEX,0000075000592,CLORALEX EL RENDIDOR BOT.PLAST. 250ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
1,INDS. ALEN,CLORALEX,0000075000608,CLORALEX EL RENDIDOR BOT.PLAST. 500ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
2,INDS. ALEN,CLORALEX,0000075000615,CLORALEX EL RENDIDOR BOT.PLAST. 950ML NAL. 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
3,INDS. ALEN,CLORALEX,0000075000622,CLORALEX EL RENDIDOR BOT.PLAST. 2000ML NAL 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
4,INDS. ALEN,CLORALEX,0000075000639,CLORALEX EL RENDIDOR BOT.PLAST. 3750ML NAL 000...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
...,...,...,...,...,...,...,...,...,...
500,RECKITT,VANISH,7501058789778BP1,VANISH EXT HIGIENE REM MANCHAS GAL 4LT + VANIS...,1,LIQUIDO,SAFE BLEACH,FABRIC TREATMENT,ROSA
501,INDS. ALEN,CLORALEX,7501025412142,CLORALEX AROMAS BLANQUEADOR C/AROMA LAVANDA GA...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
502,INDS. ALEN,CLORALEX,NaN,CLORALEX EL RENDIDOR BOT PLAST 2LT,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO
503,CLOROX,CLOROX,NaN,CLOROX MASCOTAS BLANQUEADOR+DETERGENTE GALON 10L,1,LIQUIDO,CLORO,CLORO,MASCOTAS
504,CLOROX,CLOROX,7502240948188BP1,CLOROX BLANQ930M+MMBLANQINOD709M+MMFIBRAULTRA1...,1,LIQUIDO,CLORO,CLORO,NO DEFINIDO

In [28]:
df_product.rename(columns={"ITEM": "ITEM_CODE"}, inplace=True)
df_sales_product_calendar = pd.merge(df_sales_calendar, df_product, on='ITEM', how='left')
df_product

KeyError: 'ITEM_CODE'